.form-field {
  text-align: left;
}

.form-field__label {
  font-weight: bold;
}

.form-field__content {
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #b99b70;
  color: #fff;
  width: 100%;
  margin-top: 5px;
}

.form-field__content::placeholder {
  color: rgba(255,255,255,0.6)
}

.form-field__content.invalid:not(:placeholder-shown) {
  background-color: #bb5244;
}

.form-field__error {
  display: none;
}

.form-field__content.invalid:not(:placeholder-shown) + .form-field__error {
  display: block;
  color: #f13d35;
}
.form-field__required {
  font-size: 18px;
  color: #f13d35;
}