.checkout-item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}

.checkout-item__name {
  flex: 1 1 40%;
  text-transform: capitalize;
}

.ckeckout-item__counter {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  font-size: 18px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  flex: 1 1 30%;
}

.checkout-counter__control {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.checkout-item__price {
  flex: 1 1 30%;
  text-align: right;
}

.checkout-counter__control:not(:disabled):active {
  transform: scale(1.2);
}

.checkout-counter__control:disabled {
  cursor: not-allowed;
}