.burger {
  text-align: center;
  overflow-y: auto;
  position: relative;
  flex: 1 1 70%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger__ingredients {
  height: 100%;
  width: 100%;
}

@media(min-width: 600px) and (min-height: 450px) {
  .burger__ingredients {
    width: 70%;
  }
}

@media(min-width: 900px) and (min-height: 450px) {
  .burger__ingredients {
    width: 50%;
  }
}

@media(min-width: 1200px) {
  .burger__ingredients {
    width: 40%;
  }
}
